<div class="row">
  <div class="offset3 span6 pagination-centered">
    <p id="tag_cloud">
      <% tag_cloud Source.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="offset2 span8">
    <h1>Sources</h1>
    <p>
      <%= link_to 'New Source', new_source_path %>
    </p>
    <% @sources.each do |source| %>
      <%= render source %>
    <% end %>
  </div>
</div>
