<div class="row">
  <div class="offset2 span8">
    <h1>Tag Cloud</h1>
    <p id="tag_cloud">
      <% tag_cloud Source.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </p>
  </div>
</div>